@import '../base/_mixins';

.intro {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 100vh;
  background: var(--background-1);
  &__inner {
    position: relative;
    height: 100%;
  }
  &__text {
    position: absolute;
    left: var(--base-padding);
    // bottom: 10vh;
    bottom: 50%;
    transform: translateY(50%);

    // @include tablet {
    //   & {
    //     bottom: 7vh;
    //   }
    // }
  }
  &__scroll {
    position: absolute;
    left: 50%;
    bottom: 5.5vh;
    transform: translate(-50%, 20%);

    @include tablet {
      & {
        bottom: 4vh;
      }
    }
  }
  &__arrow {
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border-right: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
    border-radius: 1px;
    animation: wave 1s infinite;
    animation-direction: alternate;

    @include tablet {
      & {
        width: 8px;
        height: 8px;
        border-right: 1.5px solid var(--text);
        border-bottom: 1.5px solid var(--text);
      }
    }

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: 0.1s * $i;
      }
    }
    &:nth-child(1) {
      transform: translate(0, 6px) rotate(45deg);

      @include tablet {
        & {
          transform: translate(0, 4px) rotate(45deg);
        }
      }
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: translate(0, -6px) rotate(45deg);

      @include tablet {
        & {
          transform: translate(0, -4px) rotate(45deg);
        }
      }
    }
  }
}

.loading {
  &__text {
    animation: wave 1.6s infinite;

    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        animation-delay: 0.36s + 0.12s * $i;
      }
    }
  }
}

@keyframes wave {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
