@import '../base/_mixins';

.container {
  padding: var(--gnb-height) var(--base-padding);
  @include tablet {
    & {
      padding: var(--gnb-height-mini) var(--base-padding);
    }
  }
}
.line {
  margin: 16px 0px;
  border: 0.5px solid var(--point-1);
}
.title {
  margin: 100px 0px;
  text-align: center;
  @include tablet {
    & {
      margin: 80px 0px;
    }
  }
  @include mobile {
    & {
      margin: 30px 0px;
      font-size: 36px;
    }
  }
}
.summary {
  &__section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 32px;
    font-size: 18px;

    @include tablet {
      & {
        font-size: 16px;
      }
    }
    @include mobile {
      & {
        display: block;
      }
    }
  }
  &__img {
    @include mobile {
      & {
        width: 110px;
      }
    }
    img {
      vertical-align: bottom;
      @include mobile {
        & {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &__info {
    text-align: right;
    font-weight: 300;
  }
  &__desc {
    margin: 12px 0px;
    text-indent: 16px;
  }
  &__btn {
    font-size: 16px;

    @include tablet {
      & {
        font-size: 14px;
      }
    }
  }
  &__url {
    text-align: right;
    padding-top: 12px;
    .summary__btn {
      font-size: 18px;

      @include tablet {
        & {
          font-size: 16px;
        }
      }
    }
  }
}
.learn {
  margin-top: 45px;
  &__title {
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    z-index: 2;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 6px;
      bottom: 4px;
      right: 0px;
      transform: skew(-15deg);
      background: var(--point-2);
      z-index: -1;
    }
  }
  &__cont {
    font-size: 18px;
    margin-top: 8px;

    @include tablet {
      & {
        font-size: 16px;
      }
    }
  }
  &__line {
    font-weight: 400;
  }
  &__desc {
    font-weight: 300;
  }
}

.work {
  &__cont {
    display: flex;
    gap: 32px;
    margin-top: 52px;
    &:nth-child(2n - 1) {
      flex-direction: row-reverse;
      @include mobile {
        & {
          flex-direction: column;
        }
      }
    }
    @include mobile {
      & {
        margin-top: 45px;
        flex-direction: column;
        gap: 0px;
      }
    }
  }
  &__media {
    flex: 1.5;
    video,
    img {
      width: 100%;
      height: auto;
    }
  }
  &__text {
    flex: 1;

    span {
      opacity: 0.5;
      font-family: 'simple';
      font-size: 20px;
      vertical-align: super;
    }
    div {
      max-width: 400px;
      margin-top: 16px;
      font-size: 18px;
      text-indent: 24px;

      @include tablet {
        & {
          margin-top: 8px;
          font-size: 16px;
        }
      }
      @include mobile {
        & {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.loading {
  &__title {
    width: 300px;
    height: 76px;
    border-radius: 2px;
    margin: 0px auto;
    @include mobile {
      & {
        width: 200px;
        height: 43.2px;
      }
    }
  }
  &__img {
    width: 240px;
    height: 180px;
    border-radius: 2px;
    @include mobile {
      & {
        width: 110px;
        height: 82.5px;
      }
    }
  }
  &__info {
    flex: 1;
  }
  &__client {
    width: 80px;
    height: 21px;
    margin: 0px 0px 0px auto;
    border-radius: 2px;

    @include mobile {
      & {
        width: 60px;
        height: 19px;
      }
    }
  }
  &__date {
    width: 200px;
    height: 21px;
    margin: 2px 0px 0px auto;
    border-radius: 2px;
    @include mobile {
      & {
        width: 190px;
        height: 19px;
      }
    }
  }
  &__desc {
    width: 100%;
    height: 21px;
    border-radius: 2px;
    &:not(:first-child) {
      width: 70%;
      margin-top: 2px;
    }
    @include mobile {
      & {
        height: 19px;
      }
    }
  }
  &__tag {
    width: 50px;
    height: 27.2px;
    &:hover {
      background-color: var(--point-2);
    }
    @include mobile {
      & {
        height: 22px;
      }
    }
  }
  &__url {
    width: 80px;
    height: 19.2px;
    border-radius: 2px;
    margin: 12px 0px 0px auto;
    @include mobile {
      & {
        width: 72px;
        height: 19px;
      }
    }
  }
  &__subtit {
    width: 122.38px;
    height: 38.4px;
    border-radius: 2px;
    &::before {
      height: 0px;
    }
    @include mobile {
      & {
        height: 28px;
      }
    }
  }
  &__cont {
    display: flex;
  }
  &__line {
    display: inline-block;
    width: 90%;
    height: 21.5px;
    max-width: 800px;
    border-radius: 2px;
    @include mobile {
      & {
        height: 19px;
      }
    }
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: var(--point-1);
  opacity: 0.5;
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}
