@import '../base/_mixins';

.title {
  display: inline-block;
  position: relative;
  margin: 28px 0px 0px;
  z-index: 2;
  span {
    margin-left: 4px;
    font-size: 14px;
    font-family: 'simple';
    vertical-align: baseline;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 4px;
    right: 0px;
    transform: skew(-15deg);
    background: var(--point-2);
    z-index: -1;
  }
}

// left
.about {
  &__top {
    @include tablet {
      & {
        display: flex;
        align-items: flex-end;
        gap: 20px;
      }
    }
  }
  &__bottom {
    display: flex;
    margin-top: 16px;
    flex-direction: column;
    align-items: flex-start;
    @include tablet {
      & {
        flex-direction: row;
        gap: 12px;
        margin-top: 20px;
      }
    }
    a {
      padding-top: 6px;
      padding-bottom: 2px;
      margin-top: 4px;
      @include tablet {
        & {
          padding-top: 0px;
          margin: 0px;
        }
      }
    }
  }
  &__name {
    margin: 16px 0px 0px;

    @include tablet {
      & {
        margin-top: 0px;
      }
    }
    span {
      margin-left: 4px;
      font-size: 14px;
      font-family: 'simple';
      vertical-align: baseline;
    }
  }
  &__tags {
    margin-top: 4px;
  }
  &__btn {
    display: flex;
    gap: 4px;
    align-items: center;
  }
}

// right
.section {
  border-bottom: 1px solid var(--point-1);
  padding-bottom: 28px;
  &__title {
    margin: 24px 0px 8px;
    span {
      margin-left: 4px;
      font-size: 14px;
      font-family: 'simple';
      vertical-align: baseline;
    }
  }
  &:nth-child(1) {
    h2 {
      margin-top: 0px;

      @include tablet {
        & {
          margin-top: 28px;
        }
      }
    }
  }
  &__tags {
    margin-top: 20px;
    gap: 16px;
  }
  &__tag {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'simple';
    font-weight: 900;

    @include mobile {
      & {
        gap: 6px;
      }
    }
    img {
      @include mobile {
        & {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
.career {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__contents {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 32px;
    @include mobile {
      & {
        display: block;
      }
    }
  }
  &__image {
    margin: 24px 0px;
  }
  &__learn {
    margin-top: 8px;
  }
  &__desc {
    font-weight: 300;
  }
  &__thumb {
    margin-top: 8px;
    text-align: right;
  }
  &__tags {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
  }
  &__btn {
    text-align: right;
    margin-top: 24px;
  }
  p {
    font-family: 'simple';
    font-weight: 900;
  }
}
.text {
  margin-top: 4px;
}
