.intro {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 100vh;
  background: var(--background);
  &__inner {
    position: relative;
    height: 100%;
  }
  &__text {
    position: absolute;
    left: 16px;
    bottom: 10vh;
  }
  h1 {
    margin-top: 18px;
  }
  &__scroll {
    position: absolute;
    left: 50%;
    bottom: 5vh;
    transform: translate(-50%, 20%);
  }
  &__arrow {
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border-right: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
    border-radius: 1px;
    animation: wave 1s infinite;
    animation-direction: alternate;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: 0.1s * $i;
      }
    }
    &:nth-child(1) {
      transform: translate(0, 6px) rotate(45deg);
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: translate(0, -6px) rotate(45deg);
    }
  }
}

@keyframes wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.contents {
  position: relative;
  background: var(--background-1);
  &__inner {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 16px;
    margin-top: 100vh;
    padding: 24px 16px 0px;
  }
  h2 {
    margin: 24px 0px 0px;
  }
  h3 {
    margin: 24px 0px 8px;
  }
  hr {
    margin: 24px 0px 0px;
    border: 0.5px solid var(--point-1);
  }
}
.title {
}
.skill {
  &__title {
    margin-top: 16px;
  }
}
