// filter list
.filter {
  position: relative;
  &__inner {
    position: sticky;
    top: 55px;
    left: 0;
    right: 0;
  }
}
.title {
  font-size: 16px;
  margin: 16px 0px 6px;
}
.btn {
  &__num {
    font-size: 10px;
    vertical-align: super;
    padding-left: 1px;
  }
}

// projects list
.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
  border: solid 1px var(--point-3);
  border-radius: 16px;
  &:hover {
    border: solid 1px var(--point-1);
    box-shadow: 4px 4px 8px var(--point-3);
    transition: all 0.25s;
    img {
      transform: scale(1.15);
    }
  }
  &__summary {
    display: flex;
    gap: 16px;
  }
  &__thumb {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    overflow: hidden;
    img {
      transition: all 0.3s;
    }
  }
  &__wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    margin-top: 8px;
  }
  &__star {
    font-size: 20px;
    margin-left: 4px;
  }
  &__client {
    text-align: right;
    font-family: 'simple';
  }
  &__date {
    text-align: right;
    font-family: 'simple';
    margin-top: 6px;
  }
  &__desc {
    margin-top: 16px;
    text-indent: 16px;
  }
  &__tags {
    justify-content: flex-end;
    // margin-top: 16px;
  }
  &__tag {
    // background: var(--point-3);
    // color: var(--text);
  }
}
