body {
  background: var(--background);
  color: var(--text);

  font-family: 'pretend';
  line-height: 1.2;
}

// layout
.container {
  width: 100%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  &--grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 32px;
    padding: var(--gnb-height) var(--base-padding);
  }
}
.contents {
  position: relative;
  min-height: 100vh;
  margin-top: 100vh;
  background: var(--background);
}

.gnb {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  backdrop-filter: blur(5px);
  z-index: 999;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 8px var(--base-padding);
    font-size: 18px;
    font-family: 'ohsquare';
    font-weight: 700;
  }
  a,
  button {
    padding: 8px 0px;
    cursor: pointer;
  }
  &__sub {
    display: flex;
    gap: 16px;
  }
  &__dark {
    line-height: 18px;
  }
}

// title
h1 {
  font-size: 64px;
  font-family: 'ohsquare';
  font-weight: 700;
}
h2 {
  font-size: 32px;
  font-family: 'ohsquare';
  font-weight: 700;
}
h3 {
  // margin-bottom: 8px;
  font-size: 24px;
  font-family: 'ohsquare';
  font-weight: 700;
}

// items
.nothing {
  text-align: center;
  padding: 72px 0px;
  font-style: italic;
}

.tag {
  padding: 4px 8px;
  font-family: 'simple';
  font-size: 14px;
  font-weight: 500;
  background: var(--point-1);
  color: var(--background);
  border-radius: 6px;
  &-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    &--right {
      justify-content: flex-end;
    }
  }
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  background: transparent;
  color: var(--text);
  transition: all 0.2s;
  &:hover {
    background: var(--point-3);
  }
  &--bg {
    background: var(--point-3);
    &:hover {
      background: var(--point-1);
      color: var(--background);
    }
  }
  &--reverse {
    background: var(--point-1);
    color: var(--background);
    &:hover {
      background: var(--point-3);
      color: var(--text);
    }
  }
  &.active {
    background: var(--point-1);
    color: var(--background);
  }
}
