:root {
  --max-width: 1440px;
  --base-padding: 20px;
  --gnb-height: 54px;
  --gnb-height-mini: 44px;
  /* color */
  --background: #e5e5e5;
  --background-1: #d6d8dd;
  --text: #020002;
  --point-1: #1846c6;
  --point-2: #5e80b6;
  --point-3: #acbdd3;
}
html.dark {
  /* color */
  --background: #0d2138;
  --background-1: #010406;
  --text: #f8f4e9;
  --point-1: #ff6600;
  --point-2: #f6e691;
  --point-3: #e9e586;
}

/* #348AE8 */
/* #1846C6 */
/* #1d36a6 */
/* #FF6600 */
